<html>
  <body>
    <h1>{{restaurant.name}} Menu</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
        <li><strong>{{message}}</strong></li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    <a href='#'>Create New Item</a>
    <br>
    {% for item in items %}

    <div>
      <br>
      {{item.name}}
      <br>
      {{item.description}}
      <br>
      {{item.price}}
      <br>
      <a href='#'>Edit</a>
      <br>
      <a href='#'>Delete</a>
      <br><br>
    </div>

    {% endfor %}
  </body>
</html>
